<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD//EN"
    "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <!--<session-factory>-->
    <!--<property name="connection.url"/>-->
    <!--<property name="connection.driver_class"/>-->
    <!--<property name="connection.username"/>-->
    <!--<property name="connection.password"/>-->
    <!--&lt;!&ndash; DB schema will be updated if needed &ndash;&gt;-->
    <!--&lt;!&ndash; <property name="hbm2ddl.auto">update</property> &ndash;&gt;-->
  <!--</session-factory>-->

  <session-factory>
    <!-- 配置连接数据库的基本信息 -->
    <!--mysql驱动-->
    <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="connection.url">jdbc:mysql://db01.dev1.fn:3306/rtwx_seckill</property>
    <property name="connection.username">su_rtwx_seckill</property>
    <property name="connection.password">GbF8Ales5F</property>

    <!-- 配置 Hibernate 的基本信息 -->
    <property name="dialect">org.hibernate.dialect.MySQLInnoDBDialect</property>
    <property name="show_sql">true</property>
    <property name="format_sql">true</property>
    <!-- 指定自动生成数据表的策略 -->
    <property name="hbm2ddl.auto">update</property>
    <mapping class="com.test.entity.SkuEntity"/>

  </session-factory>
</hibernate-configuration>